<!DOCTYPE html>
<html lang="en">
<body style="background-color: #EBF7FE; text-align: center;">
    <h1 style="color:#009EFF; line-height: 140%; font-family: 'Roboto', Arial, sans-serif; text-align: center;">Enter keyword for a movie title to get the movie reviews: <br/></h1>
    <form action="." method="POST">
        <input type="text" name="userinput" style = "
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;">
        <input type="submit" name="my-form" value="SUBMIT" style="
  width: 10%;
  background-color: #009EFF;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
        ">
    </form>
</body>
</html>